
#map {
    height: 400px;
    width: 500px;
}

.new-user-form {
    margin-left: 50px;
}
#username {
   padding-left: 200px;
}
.app-name {
    text-align: center;
}
.social-media {
    padding-left: 900px;
    font-size: small;
}
.results {
    text-align: center;
}
