html {
    min-height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    text-align: center;
}

.jumbotron{
    text-align: center;
    min-height: 80vh;
}

.register-container {
    padding: 50px;
    width: 60%;
    margin: 0 auto;
}

.login-container {
    padding: 50px;
    min-height: 80vh;
}

.home-container {
    margin-top: 25px;
}

.register-container h3, .login-container h3{
    padding-bottom: 25px;
}

#map {
    height: 400px;
    width: 500px;
}

.social-media {
    font-size: small;
    margin-top: 10px;;
}
.results {
    text-align: center;
}
